{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="content_area">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>
        <footer>
            <p> All right reserved <p>
        </footer>   
        
    </div>
{% endblock %}
